/*
https://www.w3schools.com/cssref/css_default_values.asp
https://github.com/necolas/normalize.css/blob/master/normalize.css ?
*/

body {
    font-family: sans-serif;
}

h1, h2, h3, h4 {
    color: maroon;
}

table {
    border-collapse: collapse; /* dubbele rand wordt enkele rand */
}

hr {
    border: 1px solid maroon;
}

.randje, button, fieldset, legend, select, table, th, td {
    border: 1px solid maroon;
    padding: 5px;
}

button, details {
	cursor: pointer;
}

button, input, select {
	font-size: 100%; /* anders wordt font-size kleiner */
	margin: 2px;
}

.marge-boven, label {
	margin-top: 20px;
	display: block;
}

fieldset {
	width: fit-content;
}

button, legend, select {
	border-radius: 5px;
}

pre {
  width: fit-content;
  padding: 10px;
  background: seashell;
  border: 1px solid maroon;
  border-radius: 10px;
}

.rechts {
	float: right;
	margin-left: 20px;
}

.links {
	float: left;
	margin-right: 20px;
}

.onder {
    clear: both;
}

.onzichtbaar { 
    display: none;
}

.zichtbaar {
	display: block;
}

/* https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_links */

a {
	outline: none;
	text-decoration: none;
	padding: 2px 1px 0;
}

a:link {
	color: inherit;
}

a:visited {
	color: inherit;
}

a:focus {
	border-bottom: 1px solid;
	background: #F2BA49;
}

a:hover {
	border-bottom: 1px solid;
	background: #FFFF9F;
}

a:active {
	background: #F2BA49;
}